body{
    background-image: linear-gradient(to right, black, rgb(31, 31, 154));
    width: 800px;
    height: 800vh;
    justify-content: center; 
    margin: 0 auto;
    align-items: center; 
    display: block;
}

.Item1-container{

    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-block-color: grey ;
    opacity: 100;
    transform: none;
    margin-top: 15px;
    transition: transform 0.3s ease-in-out;

}

.text{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px ;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    color : rgb(233, 220, 220); 
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: transform 0.3s ease-in-out;
}